$background-color-light: #cedeec;
$background-color-dark: #0a192f;
//$background-color-dark: #484e5d;
$font-color-light: #bdc3c7;
$font-color-dark: #19192f;
$hyperlink-color-light-no-hover: lightgray;
$hyperlink-color-light-hover: white;
