$background-color-light: #cedeec;
$background-color-dark: #484e5d;
$font-color-light: white;
$font-color-dark: #19192f;
$hyperlink-color-light-no-hover: lightgray;
$hyperlink-color-light-hover: white;
