.slide-nav{
  position: absolute;
  //position: fixed;
  //padding: auto;

  background: blue;

  img{
    margin-top: 50px;
    z-index: 200;
    position: fixed;
    border: 3px solid red;

  }
  nav{
    padding-top: 250px;
    position: fixed;
    font-size: x-large;

    ul{
      list-style: none;
      .myLink{
        cursor: pointer;
      }
    }
  }
}
.skills{
  .languageIcon:hover{
    transform: scale(1.06);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s ease-in-out;
  }
}

.projects{
  .proj:hover{
    transform: scale(1.02);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s ease-in-out;
  }
}

.achievements{
  .achievement:hover{
    transform: scaleY(1.15);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s ease-in-out;
    span{
      font-weight: 700;
    }
  }
}


.articles{
  .article:hover{
    transform: scaleY(1.15);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s ease-in-out;
    span{
      font-weight: 700;
    }
  }
}
