.slide-base {
  z-index: 100;


  .slide-nav {
    position: absolute;
    z-index: 20;

    img {
      margin-top: 50px;
      z-index: 200;
      position: fixed;
      border: 3px solid #0b1a2d;

    }

    .isDarkModeToggle {
      position: fixed;
      padding-top: 260px;
    }

    nav {
      padding-top: 270px;
      position: fixed;
      font-size: x-large;

      .list-light {
        list-style: none;

        .myLink {
          cursor: pointer;
          color: #111822;

          &:hover {
            color: #204a92;
          }
        }

      }

      .list-dark {
        list-style: none;

        .myLink {
          cursor: pointer;
          color: lightgray;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}


.footer{
  .social-media {
    .fa {
      padding: 12px;
      font-size: 26px;
      width: 45px;
      height: 45px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      color: white;
      margin-right: 0.25em;
      background-color: grey;
    }

    .copy-right-text {
      font-size: 0.85em;
    }

    .fa-facebook:hover {
      background: #3B5998;
    }

    .fa-linkedin:hover {
      background: #007bb5;
    }

    .fa-medium:hover {
      background: #14bc08;
    }

    .fa-github:hover {
      background: #4206b7;
    }

  }
}

@import "right-side";
@import "my-home";

