@import "./common/colors";

.header-dev {
  a {
    color: $hyperlink-color-light-no-hover;

    &:hover{
      color: $hyperlink-color-light-hover;
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}

.header-dev-dark {
  a {
    color: $font-color-dark;
  }
}

.my-nav-list {
  .active {
    text-decoration: underline;
  }
}
