@import "./common/colors";

.right-side {
  font-size: large;
  font-weight: 600;
  h1{
    -webkit-text-stroke: 0.7px black;
    font-weight: 700;
  }
  //background: yellow;
  color: $font-color-light;

  //--------------------------------------------------

  .my-home {
    -webkit-text-stroke: 1.5px red;

    img {
      z-index: 100;
    }

    .topToBtn {
      z-index: 300000 !important;
    }
  }




  //---------------------------------------------------

  .about-light {
    h1 {
      background: -webkit-linear-gradient(#1a266e, $font-color-dark);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    background: linear-gradient(#a6c7ea, #cedeec, #cedeec);
    color: $font-color-dark;

  }

  .about-dark {
    h1 {
      background: -webkit-linear-gradient(#aaa, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    background: linear-gradient(#020f1c, $background-color-dark, $background-color-dark, $background-color-dark);
    color: $font-color-light;
  }


  //---------------------------------------------------
  .education-light {
    h2{
      -webkit-text-stroke: 0.7px black;
    }
    clip-path: polygon(
                    0 0, /* left top */
                    100% 0, /* right top */
                    100% 95%, /* right bottom */
                    0 100% /* left bottom */
    );
    background: $background-color-light;
    color: $font-color-dark;
  }


  .education-dark {
    clip-path: polygon(
                    0 0, /* left top */
                    100% 0, /* right top */
                    100% 95%, /* right bottom */
                    0 100% /* left bottom */
    );
    background: $background-color-dark;
    color: $font-color-light;

    a {
      color: $font-color-light;
    }
  }


  //---------------------------------------------------


  .skills-light {
    clip-path: polygon(
                    0 5%, /* left top */
                    100% 0, /* right top */
                    100% 100%, /* right bottom */
                    0 100% /* left bottom */
    );
    background: $background-color-light2;
    color: $font-color-dark;


    .languageIcon:hover {
      transform: scale(1.06);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s ease-in-out;
    }
  }

  .skills-dark {
    @extend .skills-light;
    background: $background-color-dark2;
    color: $font-color-light;
  }


  //---------------------------------------------------

  .projects-light {
    color: $font-color-light;
    .proj {
      color: $font-color-dark;
      .project-img {
        height: auto;
        width: 100%;
        max-width: 325px;
        max-height: 255px;
      }

      &:hover {
        transform: scale(1.02);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s ease-in-out;
      }
    }
  }

  .projects-dark {
    @extend .projects-light;
    //background: $background-color-dark;
    color: $font-color-light;

    .proj {
      color: $font-color-dark;
    }
  }


  //---------------------------------------------------

  .achievements {
    a:hover {
      text-decoration: none;
    }

    span {
      color: $font-color-dark;
    }

    .achievement:hover {
      transform: scaleY(1.15);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s ease-in-out;

      span {
        font-weight: 700;
      }
    }
  }

  .achievements-dark {
    @extend .achievements;
    background: $background-color-dark;
    color: $font-color-light;
  }


  //---------------------------------------------------

  .articles {
    a:hover {
      text-decoration: none;
    }

    span {
      color: $font-color-dark;
    }

    .article:hover {
      transform: scaleY(1.15);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s ease-in-out;

      span {
        font-weight: 700;
      }
    }
  }

  .articles-dark {
    @extend .articles;
    background: $background-color-dark;
    color: $font-color-light;
  }


  //---------------------------------------------------

  .contact-light {
    color: $font-color-light;

    a {
      color: $font-color-dark;
    }
    #contact{
      color: $font-color-dark;
    }
    button{
      background: #152937;
      font-size: larger;
    }

    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
      font-size: 0.75em;
      color: $font-color-dark;
      top: -2.25rem;
      -webkit-transition: all 0.125s ease;
      transition: all 0.125s ease;
    }

    .styled-input {
      float: left;
      margin: 1.7rem 0 0.2rem;
      position: relative;
    }

    .styled-input label {
      color: #5c5d5f;
      padding: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      pointer-events: none;
    }

    .styled-input.wide {
      width: 100%;
    }

    input,
    textarea {
      //padding: 1rem 1rem;
      padding-left: 1rem;
      border: 0;
      width: 100%;
      font-size: 1.4rem;
    }

    input:required {
      box-shadow: none;
    }

    input:invalid {
      box-shadow: none;
    }

    textarea:required {
      box-shadow: none;
    }

    textarea:invalid {
      box-shadow: none;
    }

    input ~ span,
    textarea ~ span {
      display: block;
      width: 0;
      height: 2px;
      background: $font-color-dark;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.125s ease;
      transition: all 0.125s ease;
    }

    input:focus,
    textarea:focus {
      outline: 0;
    }

    input:focus ~ span,
    textarea:focus ~ span {
      width: 100%;
      -webkit-transition: all 0.075s ease;
      transition: all 0.075s ease;
    }

    textarea {
      width: 100%;
      min-height: 7em;
    }
  }

  .contact-dark {
    @extend .contact-light;
    background: $background-color-dark;
    color: $font-color-light;

    #contact {
      color: $font-color-dark;
    }
  }
}
